<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sample Site</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/navbar.css">
  <style>
    /* body { padding-top: 50px; } */
  </style>
</head>
<body>

<nav class="main-navbar">
  <ul class="nav-links">
    <li><a href="/">Connexion</a></li>
    <li><a href="/cocktails">Cocktails</a></li>
    <li><a href="/addCocktail">Ajouté un Cocktail</a></li>
    <li><a href="/account">Compte</a></li>
  </ul>
</nav>

  <h1>Liste des Cocktails</h1>
    <ul>
        <% listAllCocktails.forEach(function(cocktail) { %>
            <li><%= cocktail.name %></li>
            <li><%= cocktail.description %></li>
            <li><%= cocktail.receipe %></li>
            <li><%= cocktail.realCocktail %></li>
            <li><%= cocktail.characterSmash %></li>
            <% cocktail.ingredients.forEach(function(ingredient) { %>
              <li><%= ingredient.ingredient %> <%= ingredient.quantity %> <%= ingredient.unit %></li>
            <% }); %>
            <p></p>
        <% }); %> 
    </ul>
    
</body>
</html>