<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sample Site</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    body { padding-top: 50px; }
  </style>
</head>
<body>

  <h1>Informations sur le cocktail</h1>
    <ul>
      
      <li><%= cocktail.name %></li>
      <li><%= cocktail.description %></li>
      <li><%= cocktail.receipe %></li>
      <li><%= cocktail.realCocktail %></li>
      <li><%= cocktail.characterSmash %></li>
      <% cocktail.ingredients.forEach(function(ingredient) { %>
        <li><%= ingredient.ingredient %> <%= ingredient.quantity %> <%= ingredient.unit %></li>
      <% }); %>
      <p></p>
    </ul>

    <% if (user) { %>
      <form action="/favoris/add/<%= cocktail.id %>" method="POST">
        <button type="submit" class="btn btn-primary">Ajouter aux favoris</button>
      </form>
    
</body>
</html>